{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 style="color:gray;text-align:center;">Welcome to TODO Project</h1>
    <div>
        <div class="row">
            <div class="col">

                <div>
                    <h1 style="text-align:center">Add new TODO</h1>   
                </div>
                <div class="col-lg-5 shadow mx-auto p-4 ">
                    <form method="post" action="/add-todo">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">ADD</button>

                    </form> 
                </div>
            </div>
            <div class="col border">
                {% if todos|length == 0 %} 
               
                    <div class="alert alert-info"><p>Empty List</p></div>
                {% else %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Priority</th>
                                <th>Action</th>
    
                            </tr>
                        </thead>
                        <tbody>
                            {% for todo in todos %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{todo.title}}</td>
                                <td>{{todo.status}}</td>
                                <td>{{todo.priority}}</td>
                                <td>
                                    <a href="delete/{{todo.id}}" class="btn">🗑️</a>
                                    {% if todo.status == 'p'%}
                                    <a href="complete/{{todo.id}}/c" class="btn">✅</a>
                                    {% else %}
                                    <a href="complete/{{todo.id}}/p" class="btn">🕛</a>
                                    {% endif %}

                                </td>
                                


                            </tr>
                            {% endfor %}
                        </tbody>
                    
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}




    